.top{
    justify-content: center;
    text-align: center;
    height: 20vh;
    border: 1px solid  #1A374D;;
    text-align: center;
    margin-top: 20px;
    background-color: #1A374D;
}

.top h2{
    margin-top: 30px;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    color: white;
}

.top p{
    font-family:'Dosis', sans-serif;
    margin-top: 20px;
    font-size: 25px;
    color: rgb(71, 187, 253);
}

.bottom{
    margin-top: 15px;
    height: 60vh;
}

.bottom{
    display: flex;
    align-items: flex-end;
}
.bottom .left{
    margin-top: 2px;
    margin-right: 20x;
    margin-bottom: 2px;
    height: 100%;
    width: 33.33%;
    background-color: #152028;
}

.content{
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 18px;
    font-family: 'Nuosu SIL', serif;
    text-align: center;
}

.bottom .right .content{
    color: white;
    padding-top: 10px;
    font-size: 12px;
    text-align: left;
    font-family: 'Nuosu SIL', serif;
}

.bottom .center{
    margin-top: 2px;
    margin-right: 20x;
    margin-bottom: 2px;
    height: 100%;
    width: 33.33%;
    background-color: #1A374D;
}

.bottom .right{
    margin-top: 2px;
    margin-right: 20x;
    margin-bottom: 2px;
    height: 100%;
    width: 33.33%;
    background-color: #152028;
}

.content-header{
    color: white;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 20px;
}