<div class="container">
    <div class="top">
        <h2>BOHOL ISLAND STATE UNIVERSITY</h2>
        <p>Raising Science and Technology Education to Global Standards</p>
    </div>  
    <div class="bottom">
        <div class="left">
            <div class="content-header">
                VISION
            </div>
            <div class="content">
                <p>A premiere Science and Technology university for the formation 
                    of a world-class and virtuous human resource for the sustainable 
                    development of Bohol and the country.
                </p>
            </div>
        </div>
        <div class="center">
            <div class ="content-header">
                MISSION
            </div>
            <div class="content">
                <p>BISU is committed to provide quality higher education in the arts
                    and sciences, as well as in the professional and technological
                    fields; undertake research and development and extension services
                    for the sustainable development of Bohol and the country. 
                </p>
            </div>
        </div>
        <div class="right">
            <div class="content-header">
                GOALS
            </div>
            <div class="content">
                <p>1. Pursue faculty and education excellence and strengthen the current viable curricular
                    programs and develop curricular programs that are responsive to the demands of the times
                    both in the industry and the environment.
                </p>
                <p>2. Promote quality research outputs that respond to the needs of the local and national communities.

                </p>
                <p>3. Develop communities through responsive extension programs</p>
                <p>4. Adapt efficient and profitable income generating projects for self-sustainability.</p>
                <p>5. Provide adequate state-of-the-art and accessible infrastracture support facilities for quality education.</p>
                <p>6. Promote efficient and effective good governance supportive of high quality education.</p>
            </div>
        </div>
    </div>  
</div>

